<div class="container">
    <h2>Accesso</h2>
    <form #accessoForm="ngForm" (ngSubmit)="onSubmit(accessoForm)">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" ngModel class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" ngModel class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary m-3">Accedi</button>
    </form>
  </div>
  